.header {
  margin: auto;
  font-size: 50px;
}

.main-header {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  font-family: 'Spirax', cursive;
  font-size: 36px;
  color: blue;
}

.create-event {
  position: absolute;
  right: -300px;
  top: 20px;
}

.search-bar {
  position: absolute;
  margin: auto;
  text-align: center;
  width: 200px;
  top: 40px;
}

.search-bar input {
  width: 75%;
}